.App {
  text-align: justify;
}
.app-container {
  max-width: 1600px; /* Adjust the max width to your preference */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add padding for spacing */
}
