@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Dancing+Script:wght@700&family=Orbitron:wght@800&family=Qwitcher+Grypen:wght@700&display=swap");
html,
body {
  height: auto;
  margin: 50;
  /*overflow: hidden;*/
  contain: content;
  background-image: url("cocktailBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.header-container {
  width: auto;
  font-family: "Orbitron", sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.title {
  color: #ebd913;
  font-size: 3vw;
  text-align: center;
  text-shadow: 0 10px 10px black;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
}
.card {
  background-color: #000;
  border: 1px solid #ebd913;
}
.insideCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-image {
  max-width: 40%; /* Adjust image width in % */
  align-items: center;
  border-radius: 4px;
}
.recipe {
  margin: 20px;
}
.card-image.with-recipe {
  width: 10%; /* Adjusted width when recipe is present */
}
.card-header {
  font-size: 40px;
  margin: 2px;
  padding-bottom: 20px;
  color: #fcf806;
  text-align: center;
}
